.dashboard-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.dashboard-title {
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 0;
}

.dashboard-chart {
    width: 100%;
    height: 400px;
    margin: 0 auto;

}

.dashboard-subtitle {
    margin-top: 1.5rem;
    font-weight: bold;
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    .dashboard-chart {
        height: 300px;
    }

    .dashboard-title {
        font-size: 1.5rem;
    }

    .dashboard-subtitle {
        font-size: 1rem;
    }
}

@media (max-width: 375px) {
    .dashboard-chart {
        height: 220px;
    }

    .dashboard-title {
        font-size: 1rem;
    }

    .dashboard-subtitle {
        font-size: 0.8rem;
    }
}